<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{error}}<br><br>
    <h1>WELCOME SIR TO HOTEL TAJ </h1>  <br>

    <h3>SELECT OPTIONS YOU WANT CHOOSE</h3>
    <a href="savedata">ADD CUSTOMER DETAILS</a><br><br><br>
    <a href="category">Add category<a><br><br> <br>
    <a href="rooms">Add rooms<a><br><br><br>
    <a href="services">Add Available Service<a><br><br><br> 
    <a href="custservice">Add Service For Customer<a><br><br><br>  
    <a href="customerview">customer list<a><br><br><br>   
    <button >
            <a href="customerview">customer list<a><br><br><br>   
    </button>       

</body>
</html>